@import './base.css';

@font-face {
  font-family: lcd;
  descent-override: 10%;
  src: url(@/assets/lcd.ttf);
}

@theme {
  --font-lcd: lcd;
}

html,
body {
  @apply m-0 p-0 bg-black text-green-500 overflow-hidden h-full;
}

#app {
  @apply m-0 p-0 h-full;
}

button {
  @apply border p-4;
}
